@import 'normalize.scss';
@import 'common.scss';
@import 'grid.scss';
body{
	background-color: #F4F5F8;
	font-family: "Avenir Next forINTUIT", "Arial", -apple-system, "Helvetica Neue", sans-serif;
	color: #555;
}
.header-section{
	background-color: #393a3d;
	height: 50px;
	line-height: 55px;
	img{
	    max-width: 170px;
	    max-height: 40px;
	    @include bp(768px){
			max-width: 120px;
		};
	}
	.find-proadvisor-link{
		color: #fff;
    	padding-left: 30px;
    	font-size: 22px;
	    @include bp(768px){
			font-size: 16px;
			padding-left:15px;
		};
	}
}
.landing-page{
	.first-section{
		text-align: center;
		h1{
			padding-top: 100px;
		    font-size: 36px;
		    color: #333;
		    font-weight: 600;
		}
		p{
	    	font-size: 18px;
	    	padding-top:10px;
		}
		img{
			width: 100%;
		}
		.location-section{
			margin-bottom: 60px;
			margin-top: 40px;
			.select-detail{
				width: 25%;
				font-size: 14px;
				@include bp(768px){
					width: 90%;
					margin-left: 0px;
					&:nth-child(2){
						margin-top: 20px;
					}
				};
			}
			.label{
    			font-size: 14px;
    			font-weight: 600;
			}
		}
		.find-button{
			background: #2ca01c;
		    color: #fff;
		    font-size: 14px;
		    border-radius: 3px;
		    cursor: pointer;
		    a{
		   	 	padding: 11px 25px;
		   	 	display: inline-block;
		    }
		    @include bp(768px){
				margin-left: 0px;
				margin-top: 20px;
			};
		}
	}
	.second-section{
	    background-color: #fff;
	    padding-bottom: 70px;
	    @include bp(768px){
			padding-bottom:50px;
		};
	    .header{
	        width: 100%;
	    	text-align: center;
	    	padding-top: 80px;
	    	color: #393a3d;
	    	@include bp(768px){
				padding-top:50px;
			};
	    	h1{
	    	    width: 70%;
	    		margin: 0 auto;
	    		@include bp(768px){
					width: 100%;
					font-size: 22px;
				};
	    	}
	    }
	    .content{
	        font-size: 14px;
	    	width: 22%;
	    	line-height: 20px;
	    	margin-left: 50px;
	    	&:nth-child(1){
	    		margin-left:0px;
	    	}
	    	@include bp(768px){
				width: 100%;
				margin-left: 0px;
				padding:10px;
				box-sizing:border-box;
			};
	    }
	}
	.third-section{
		h1{
	    	margin: 40px 0px;
	    	color: #555;
	    	@include bp(768px){
				font-size: 25px;
				margin: 25px 0px;
			};
		}    
		p{
		    width: 75%;
	    	margin: 35px auto;
	        font-size: 26px;
    		line-height: 35px;
    		@include bp(768px){
				width: 90%;
			    margin: 15px auto;
			    font-size: 16px;
			    line-height: 30px;
			};
		}
		img{
			@include bp(768px){
				width: 100%;
			};
		}
	}
}
.breadcrumbs-container{
	font-size: 14px;
	margin-bottom: 40px;
	@include bp(768px){
		margin-bottom: 10px;
	};
	.breadcrumbs-links{
		color: #0077c5;
		&:hover{
			text-decoration: underline;
		}
	}
	.name{
		color: inherit;
		cursor: default;
		&:hover{
			text-decoration: none;
		}
	}
}
.ca-list-page{
	margin-top: 50px;
	@include bp(768px){
		margin-top: 35px;
	};
	.select-detail{
		font-size: 14px;
		@include bp(768px){
			margin-left: 0px;
			margin-top: 20px;
		};
		.label{
			font-size: 14px;
			font-weight: 600;
		}
	}
	footer{
		padding:30px 0px;
		@include bp(768px){
			padding-bottom:0px;
		};
		.nav-links{
			a{
				&:last-child{
					padding-right:0px;
				}
			}
		}
	}
	.profile-section{
		height: calc(100vh - 230px)
	}
	.profile-container{
		&:hover{
		    border: 2px solid #53b700;
		    box-sizing:border-box;
		}
	}
}
.profile-container{
	background-color: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	border: 2px solid #fff;
	margin-top: 25px;
	@include bp(768px){
		padding:15px;
	};
	.avatar-saction{
		text-align:center;
		img{
			margin-bottom: 15px;
		    margin-top: 5px;
		    width: 130px;
		    height: 130px;
		    border-radius: 50%;
		    background: #fff;
		    object-fit: cover;
		}
		.advisor{
			font-size: 14px;
    		color: #333;
    		margin-top: 0px;
		}
	}
	.detail-saction{			
		padding-right: 10px;
		box-sizing: border-box;
		font-size: 14px;
		h2{
			font-size: 20px;
			margin-top: 10px;
		}
		.starts{
			img{
				width: 22px;
			}
		}
		.text{
			font-weight: 500;
		    margin-bottom: 8px;
		    color: #333;
		}
		.link,.phone-number{
			color: #0077C5;
		}
		.description{
			line-height: 20px;
		}
	}
	.services-saction{
		    padding-left: 15px;
			box-sizing: border-box;
			border-left: 1px solid #d4d7dc;
			margin-top: 20px;
			font-size: 14px;
			min-height: 170px;
			@include bp(768px){
				border-top: 1px solid #d4d7dc;
				border-left:none;
				padding-top: 20px;
				padding-left:0px;
			};
		.tag{
			font-weight:600;
		}
		p{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		ul{
			padding-left:15px;
		}
		li{
			margin-bottom: 5px;
		}
	}
}
.ca-detail-page{
	margin-top: 50px;
	@include bp(768px){
		margin-top: 35px;
	};
	.breadcrumbs-container{
		@include bp(768px){
			font-size: 12px;
		};
	}
	.back-button{
		color: #0077c5;
		font-size: 14px;
		cursor: pointer;
		@include bp(768px){
			font-size: 12px;
		};
		&:nth-child(2):hover{
			text-decoration: underline;
		}
	}
	.profile-container{
		margin-top: 15px;
	}
	footer{
		padding: 70px 0px 20px 0px;
	}
	.certification-section{
		border-top: 1px solid #d4d7dc;
		font-size: 14px;
		.header{
    		color: #333;
    		font-size: 13px;
    		font-weight: 600;
		}
		img{
			    height: 38px;
    			width: 28px;
		}
		.certification-text{
			font-size: 12px;
		}
	}
	.detail-container{
		.tag{
			font-weight: 600;
		}
		.detail-saction,.client-review-container{
			padding: 0px 10px 0px 0px;
			box-sizing:border-box;
			@include bp(768px){
				padding:0px;
			};
		}

		.details{
			background: #fff;
			margin-top: 10px;
			padding: 20px;
			box-sizing: border-box;
			font-size: 14px;
			@include bp(768px){
				padding:15px;
			};
			.about-section{
				border-bottom: 1px solid #eeeeee;
				span{
					font-weight: 600;
				}
				p{
					margin-top: 10px;
				}
				ul{
				    padding-left: 20px;
    				box-sizing:border-box;
    				@include bp(768px){
						padding-left: 15px;
					};
    				li{
    					line-height:21px;
    				}
				}
			}
			.industries-section{
				margin-top: 20px;
				span{
					font-weight: 600;
				}
				.no-info{
					font-style: italic;
				}
				ul{
				    padding-left: 20px;
    				box-sizing:border-box;
    				@include bp(768px){
						padding-left: 15px;
					};
    				li{
    					line-height:21px;
    				}
				}
				.social-link{
					clear: both;
				}
			}
		}
		.form-container{
			padding: 0px 0px 0px 10px;
			box-sizing:border-box;
			@include bp(768px){
				padding: 0px; 
			};
		}
		.form-section{
		    background: #fff;
    		box-sizing: border-box;
    		font-size:14px;
    		@include bp(768px){
				padding:15px;
			};
   			.label{
   				font-weight: 600;
   				margin-bottom: 5px;
   			}
   			input,textarea{
   				border: 1px solid #babec5;
			    width: 100%;
			    padding: 10px;
			    box-sizing: border-box;
			    border-radius: 3px;
			    margin: 10px 0px;
			    outline: none;
   			}
   			textarea{
   				height: 150px;
   			}
   			.submit-button{
   				background: #2ca01c;
			    color: #fff;
			    padding: 10px 20px;
			    font-weight: 600;
			    border-radius: 3px;
			    display: inline-block;
   			}
		}
		.client-review-section{
			background:#fff;
			box-sizing:border-box;
			font-size: 14px;
			@include bp(768px){
				padding:15px;
			};
			.reviews-tyle-container{
				    border-bottom: 1px solid #eceef1;
				    padding-bottom:35px;
				    @include bp(768px){
						padding-bottom:20px;
					};
			}
			.overall{
				.overall-tag{
					font-size: 12px;
				}
				.rating{
					font-size: 35px;
					margin-right: 5px;
				}
				img{
					width: 25px;
				}
			}
			.reviews-type{
				img{
					width: 20px;
				}
			}
			.comment-section{
				font-size: 14px;
				margin-top: 30px;
				@include bp(768px){
					margin-top: 20px;
				};
				img{
					width: 20px;
				}
				.date{
					font-size: 12px;
					color: #6b6c72;
				}
				.comment{
					line-height: 20px;
				}
				.services-received-detail,.industry-detail{
					margin-top: 0px;
					font-style:italic;
					line-height: 20px;
				}
			}
		}
	}
}
footer{
	font-size: 12px;
	p,.nav-links{
		box-sizing:border-box;
		margin: 0px;
		@include bp(768px){
		    text-align: center;
    		margin: 0px;
		};
	}
	.nav-links{
		@include bp(768px){
		    padding: 0px 0px 20px 0px;
    		text-align: left;
		};
		a{
			padding:0 20px;
			@include bp(768px){
		    	padding:0 2px;
			};
		}
	}
}
.no-filter{
	font-size: 35px;
    margin-top: 100px;
}
.css-vj8t7z{
	&:hover{
		border-color:red;
	}
}
.css-2o5izw{
	border-color:#BABEC5 !important;
	box-shadow:none !important;
	&:hover{
		border-color:#BABEC5 !important;
		box-shadow:none;
	}
}